---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="LimpiezaRocio">
	<Navbar 
		homeSelected={true}
		workSelected={false}
		contactoSelected={false}
	/>
	<main>
		
	</main>
</Layout>

<style>
	
</style>
