---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Comida a un click">
	<Navbar 
		homeSelected={true}
		AbouSelected={false}
		contactoSelected={false}
	/>
	<main>
		pagina principal
	</main>
</Layout>

<style>
	
</style>
