---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Separador from '../components/Separador.astro';
import ProductCard from '../components/react/ProductsCards.tsx';
import FloatWhatsapp from '../components/FloatWhatsapp.astro';
---

<Layout title="Comida a un click">
	<Navbar 
		homeSelected={true}
		AbouSelected={false}
		contactoSelected={false}
	/>
	<main class="min-h-screen w-screen flex flex-col items-center justify-start p-6">
		<Separador 
			width="w-[90vw]"
			text="Menu."
			size="text-2xl"
			bold="font-bold"
			italic="italic"
		/>
		<div class="grid grid-cols-1 gap-8 w-full tablet:grid-cols-2 laptop:grid-cols-3 ">
			<ProductCard client:load/>
		</div>
		
		
	</main>
	<FloatWhatsapp />
</Layout>

<style>
	
</style>
