---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Portafolio">
	<Navbar 
        homeSelected={false}
        workSelected={true}
        contactoSelected={false}
    />
	<main>
		
	</main>
</Layout>