---

---


<div class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-0 min-w-72 w-5/6 h-[90%] bg-white z-50 rounded-xl overflow-x-hidden flex flex-col gap-0 tablet:h-4/5 tablet:flex-row animate-aparece">
    <img src="/casaLaPlaya.jpeg" alt="primera foto" class="aspect-16/9 object-cover w-full max-h-[40%] phone:max-h-[40%] tablet:aspect-9/16 tablet:min-h-full tablet:max-w-[40%] " />
    <article class="flex flex-col gap-4 p-4 overflow-y-scroll">
        <h1 class="text-xl font-bold">Hola, mi nombre es Rocio Sánchez</h1>
    </article>
</div>
<section class="fixed top-0 left-0 w-screen h-screen bg-black/80 z-40 blur-sm animate-aparece"></section>