---
---

<nav class="min-h-16 sticky top-0 px-4 py-2 flex items-center justify-between bg-black/10 shadow-xl">
	<span class="w-fit flex items-center gap-2 text-black/80 font-bold flex-nowrap">
        <img src="/broom-icon.svg" alt="broom" class="size-16">
        <p class="text-xl">LimpiezaRocio</p>
	</span>
    <!-- <CopyButton textToCopy="https://limpiezarocio.com" /> -->
</nav>