@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

::-webkit-scrollbar {
  width: 0rem;
}

:root {
  --white: #FAF7F0;
  --black: #0F0E0D;
  --dark-blue: #98A8F8;
  --blue: #BCCEF8;
  --light-blue: #CDFCF6;

  --font-Caveat: 'Caveat', cursive;
}


html {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
  color: var(--black);
  scroll-behavior: smooth;
  overflow-y: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#Caveat {
  font-family: var(--font-Caveat);
}

#AnimacionScroll {
  view-timeline-name: viewObj;
  
  animation-name: ScrollProducts;
  animation-fill-mode: both;

  animation-timeline: viewObj;
  animation-range: entry 40% cover 70%;

}

@keyframes ScrollProducts {
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

#Cart {
  overflow: hidden;
  
}